@charset "utf-8";
/* CSS Document */

						/*header头部样式*/
.header{ background:#77213b; height:100px;}
.header .inner{ width:1128px; margin:0 auto; }
.header .inner h1 a{ line-height:100px; height:100px; color:#fff; font-family: 'Poiret One', cursive; float:left; font-size:38px; font-weight:normal;}
.header .inner a:hover{ color:#d4642e; text-shadow:0 0 8px #fff,0 0 12px #fff;}
.header .inner  ul{ float:right;}
.header .inner  ul li{ float:left; margin-top:42px;}
.header .inner  ul li:hover span{ color:#d4642e; text-shadow:0 0 2px #fff,0 0 4px #fff;}
.header .inner  ul li a{ padding:0 10px;}
.header .inner  ul li span{ color:#fff; font-size:20px;font-family: 'Poiret One', cursive;}

						/*main 内容区域的样式*/
.main{ background:url(../images/footer-bg.jpg); height:1500px;}
.main .inner{ width:1110px; margin:0 auto;}
.main .inner h2{ text-align:center; color:#94304f; font-size:26px; line-height:114px; height:114px; padding-top:15px; text-transform:uppercase;}
.mainList{ margin-left:-29px;}
.mainListLeft{ width:350px; margin-left:29px; margin-bottom:29px; float:left;}
.mainListLeft h3{ line-height:39px; color:#94304f; height:39px; text-transform:uppercase;}
.mainListLeft p{ line-height:22px; color:#555555;}
.mainListLeft h4{ line-height:46px; color:#141d1d; text-transform:uppercase;}
.mainListLeft h3:hover,.mainListLeft p:hover,.mainListLeft h4:hover{color:#F63;}

.mainBot h4{ text-align:center; color:#94304f; font-size:26px; line-height:114px; height:114px; padding-top:15px; text-transform:uppercase;}
.mainBotListLeft{ width:370px; float:left;}
.mainBotListLeft li { line-height:21px; margin-bottom:13px; background:url(../images/sanjiao.png) no-repeat;}
.mainBotListLeft li a{ color:#000; padding-left:25px; font-size:15px;}
.mainBotListLeft li:hover a{ color:#F63;}

/* mainListLeft六个图片的动画样式 */
.mainListLeft  ul li{ position:relative;}
.mainListLeft  ul li:before{content:""; width:360px;height:400px;position: absolute; background:#fff; top:50%;left:50%;;border:1px solid #fff;opacity:0; transform:translate(-50%,-50%);transition:0.5s ; font-size:30px; color:#fff;}
.mainListLeft  ul li:hover:before{width:0; height:0;opacity:0.9;}
.mainListLeft  ul li:after{content:"I Love You";position:absolute;font:44px/24px arial;width:100%;text-align:center;top:50%;left:50%;transform:translate(-50%,-50%)  rotateY(180deg);color:#fff;transition:all 0.8s;opacity:0;}
.mainListLeft  ul li:hover:after{transform:translate(-50%,-50%) rotateY(360deg); opacity: 1;}


						/*footer 页脚区域的样式*/
.footer{ height:80px; background:#77213b;}
.footer .inner{width:1110px; margin:0 auto;}
.footer .inner p{ text-align:center; line-height:80px; color:#fff;}
.footer .inner span{ color:#cf6600;}

